# Vagrant files
/.vagrant

# Conf files
/config/apache-config/sites/*
!/config/apache-config/sites/graft.conf

# Log files
/log/**/*
!/log/**/.keep

# Database files and backups
/database/init-custom.sql
/database/backup/*
!/database/backup/.keep

# Webroot
/www/**/*
!/www/default/phpinfo/index.php
!/www/default/index.php
