# Vagrant files
/.vagrant

# Conf files
/config/apache-config/sites/*
!/config/apache-config/sites/graft.conf

# Log files
/log/**/*
!/log/**/.keep

# Database files and backups
/database/**/*
!/database/backup/.keep

# Webroot
/www/**/*
!/www/default/index.php
